#registrationform{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   #formcontainer{
    border: 1px solid black;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px red;
    /* background-color:blue ; */
    margin-top: 90px;
   }
   #regheading{
    font-size: 20px;
    text-align: center;
    color:red ;
    margin-top: 20px;
   }
   #regform{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black transparent;
    margin: 10px;
    
   }
   #regform input{
    height: 20px;
    width: 95%;
    margin-top: 15px;
    /* margin: 5px; */
    border-radius: 5px;
    /* border: none; */
    padding: 5px;
   }
   button{
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
   }